input.input-error,
select.input-error {
    border-color: #fc8181;
}
.error {
    color: #fc8181;
    font-size: 1rem;
    text-align: left;
    margin-top: 0.25rem;
}

button:disabled {
    opacity: 0.35;
}

input,
select {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1.2rem;
    color: black;
    border: 2px solid #4a5568;
    background-color: ghostwhite;
    border-radius: 10px;
    border-color : gray;
    outline: none;
}


input::placeholder,
select::placeholder {
    color: #a0aec0;
}

input:focus,
select:focus {
    border-color: #4299e1;
}